.header {
    width: 100%;
    margin-top: 0;
    background-color: #0096c7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.search-container {
    width: 60%;
}

.login-container {
    width: 45%;
}

.logo-container {
    width: 30%;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-link {
    color: white;
}

.fa-database {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.menu-container {
    width: 45%;
}

.menu-container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}